/* Variables */
:root {
    --beige-100: #FDF9ED;
    --beige-200: #F3ECD9;
    --beige-300: #E3DCCA;
    --gold-100: #F7C24E;
    --gold-200: #F2BA3E;
    --black: #2E2A2A;
    --red-100: #C2422C;
    --font-family-1: opposit, sans-serif;
    --font-family-2: anton, impact, sans-serif;
    --letter-spacing-body-text: 0.03em;
    --letter-spacing-headings: 0.06em;
    --font-size-base: 1.25rem; /* 20 */
    --font-size-h1: 3.25rem; /* 52 */
    --font-size-h2: 2.25rem; /* 36 */
    --font-size-marquee: 4.5rem; /* 72 */
    --space-1: 0.75rem; /* 12 */
    --space-2: 1.5rem; /* 24 */
    --space-3: 2.25rem; /* 36 */
    --space-4: 2.75rem; /* 44 */
    --space-5: 4rem; /* 64 */
    --space-6: 6.25rem; /* 100 */
    --space-7: 9rem; /* 144 */
    --container-width-1: 46.125rem; /* 738 */
    --marquee-gap: 0.2rem;
    --transition-1: all 0.3s ease;
}

/* Smooth Scrolling */
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/* Base */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
    background: var(--beige-100);
    font-family: var(--font-family-1);
    font-size: var(--font-size-base);
    letter-spacing: var(--letter-spacing-body-text);
    margin: 0;
    color: var(--black);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
    font-family: var(--font-family-2);
    letter-spacing: var(--letter-spacing-headings);
    text-transform: uppercase;
    margin-bottom: var(--space-1);
}

h2 {
    font-family: var(--font-family-1);
    letter-spacing: var(--letter-spacing-body-text);
    text-transform: none;
}

h2 a {
    text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: var(--red-100);
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

p,
ol,
ul {
    margin-top: 0;
    margin-bottom: var(--space-2);
}

/* Webfonts */
@font-face {
    font-family: opposit;
    src: url('/fonts/opposit-regular-webfont.woff2') format('woff2'), url('/fonts/opposit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: opposit;
    src: url('/fonts/opposit-extrabold-webfont.woff2') format('woff2'), url('/fonts/opposit-extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: anton;
    src: url('/fonts/anton-regular-webfont.woff2') format('woff2'), url('/fonts/anton-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Buttons @TODO :hover & :focus state */
.button {
    display: inline-block;
    padding: var(--space-1) var(--space-3);
    font-family: var(--font-family-2);
    letter-spacing: var(--letter-spacing-headings);
    text-transform: uppercase;
    background: var(--gold-200);
    color: var(--black);
    text-decoration: none;
    transition: var(--transition-1);
}

.button:hover,
.button:focus {
    background-color: var(--gold-100);
}

/* Header */
.header {
    margin: var(--space-5) var(--space-2) 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-4);
}

/* Nav */
.nav {
    margin-bottom: var(--space-5);
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.nav-list a {
    font-family: var(--font-family-2);
    letter-spacing: var(--letter-spacing-headings);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
}

.nav-list a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--gold-200);
}

/* 600 */
@media only screen and (width >= 37.5rem) {
    .nav-list {
        gap: var(--space-4);
    }
}

/* 768 */
@media only screen and (width >= 48rem) {
    .nav {
        margin-bottom: var(--space-7);
    }
}

/* Marquees */
.marquees {
    position: relative;
    margin-bottom: var(--space-5);
}

.marquee {
    display: flex;
    overflow: hidden;
    gap: var(--marquee-gap);
}

.marquee-group {
    display: flex;
    flex-shrink: 0;
    gap: var(--marquee-gap);
    min-width: 100%;
    animation: marquee-scroll 80s linear infinite;
}

.marquee-group span {
    font-size: min(5vw, var(--font-size-marquee));
    color: var(--beige-200);
    letter-spacing: var(--letter-spacing-headings);
}

#marquee1 .marquee-group {
    animation-duration: 80s;
}

#marquee2 {
    margin-left: -15vw;
}

#marquee2 .marquee-group {
    animation-duration: 64s;
}

#marquee3 {
    margin-left: -7vw;
}

#marquee3 .marquee-group {
    animation-duration: 72s;
}

#marquee4 {
    margin-left: -17vw;
}

#marquee4 .marquee-group {
    animation-duration: 56s;
}

@keyframes marquee-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--marquee-gap)));
    }
}

/* 768 */
@media only screen and (width >= 48rem) {
    .marquees {
        margin-bottom: var(--space-7);
    }
}

.pizza-slice {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 115%;
    margin: auto 0;
}

.pizza-slice img {
    /* max-width: min(50vw, 32.125rem); */
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* 768 */
/* @media only screen and (width >= 48rem) {
    .pizza-slice {
        top: -10%;
    }

    .pizza-slice img {
        max-width: min(40vw, 32.125rem);
    }
} */

/* 1440 */
/* @media only screen and (width >= 90rem) {
    .pizza-slice {
        top: -5%;
    }
} */

/* Sections */
.section {
    margin-bottom: var(--space-7);
}

.section h1 {
    font-size: var(--font-size-h2);
    margin-bottom: var(--space-2);
}

/* 768 */
@media only screen and (width >= 48rem) {
    .section h1 {
        font-size: var(--font-size-h1);
        margin-bottom: var(--space-4);
    }
}

/* Dividers */
.divider {
    margin-bottom: var(--space-7);
}

.divider img {
    width: 100%;
}

/* Events */
.event:not(:last-child) {
    border-bottom: 1px solid var(--beige-300);
    padding-bottom: var(--space-4);
    margin-bottom: var(--space-4);
}

/* Subscribe Form */
.subscribe-form {
    display: flex;
    justify-content: center;
}

/* Utilites */
.text-center {
    text-align: center;
}

.container {
    max-width: var(--container-width-1);
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--space-2);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
