---
layout: layouts/base.njk
---

<section id="about" class="section">
    <div class="container text-center">
        <h1>About</h1>
        <p>My name is Chris and I bake small-batch rustic breads and pizza pies atop my miniature mountain in northern New Jersey, USA. What began as a humble hobby has evolved into a ridiculous dough obsession. </p>
        <p>Right now I am honing my craft, <a href="{{ metadata.social.instagram }}" title="Follow @braccobreadco on Instagram" target="_blank" rel="noreferrer">having fun online</a>, and experimenting with local pickups, pop-ups, and special events.</p>
    </div>
</section>
<section id="events" class="section">
    <div class="container text-center">
        <h1>Events</h1>
        {% for event in eventbrite.events %}
            <div class="event">
                <h2><a href="{{ event.url }}" target="_blank" rel="noreferrer">{{ event.name.text }}</a></h2>
                <p>
                    {{ event.start.utc | humanizeDate }}
                    <br>
                    {% for ticket_class in event.ticket_classes %}
                        {{ ticket_class.name }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </p>
                <a href="{{ event.url }}" target="_blank" rel="noreferrer" class="button">Reserve a Seat</a>
            </div>
        {% endfor %}
    </div>
</section>
<div class="divider">
    {% image "../public/img/pizzas.png", "Pizza pies" %}
</div>
<section id="subscribe" class="section">
    <div class="container text-center">
        <h1>Get on the list</h1>
        <p>Be the first to know about future drops, pop-ups, events, and more.</p>
        {% include "subscribe-form.njk" %}
    </div>
</section>
<section id="contact" class="section">
    <div class="container text-center">
        <h1>Contact</h1>
        <p>Want to try some bread or pizza? Host a pop-up or collaboration? I am open to fun and interesting opportunities.</p>
        <p>Let’s talk!<br><a href="mailto:hello@braccobreadco.com">hello@braccobreadco.com</a></p>
        <a href="{{ metadata.social.instagram }}" title="Follow @braccobreadco on Instagram" target="_blank" rel="noreferrer">{% image "../public/img/instagram.svg", "Bracco Bread Co. on Instagram" %}</a>
    </div>
</section>
<div class="divider">
    {% image "../public/img/breads.png", "Loaves of bread" %}
</div>
