/* Base */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    text-size-adjust: none;
}

/* Smooth Scrolling */
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: var(--line-height-base);
    background: var(--beige-100);
    font-family: var(--font-family-1);
    font-size: var(--font-size-base);
    letter-spacing: var(--letter-spacing-body-text);
    margin: 0;
    color: var(--black);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
    font-family: var(--font-family-2);
    letter-spacing: var(--letter-spacing-headings);
    text-transform: uppercase;
    margin-bottom: var(--space-1);
}

h2 {
    font-family: var(--font-family-1);
    letter-spacing: var(--letter-spacing-body-text);
    text-transform: none;
}

h2 a {
    text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: var(--red-100);
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

p,
ol,
ul {
    margin-top: 0;
    margin-bottom: var(--space-2);
}
