/* Buttons */
.button {
    display: inline-flex;
    align-items: center;
    padding: var(--space-s) var(--space-l);
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-body-text);
    background: var(--gold-100);
    border-radius: var(--border-radius-base);
    color: var(--black);
    text-decoration: none;
    transition: var(--transition-button);
}

.button:hover,
.button:focus {
    background-color: var(--gold-200);
}

.button .icon {
    margin-right: var(--space-2xs);
}

.button-secondary {
    box-shadow: 0 0 0 2px var(--beige-100);
    background-color: transparent;
    color: var(--beige-100);
}

.button-secondary:hover,
.button-secondary:focus {
    background-color: var(--beige-100);
    color: var(--black);
}

.button-secondary .icon path {
    fill: var(--beige-100);
}

.button-secondary:hover .icon path,
.button-secondary:focus .icon path {
    fill: var(--black);
}
