/* Content */

/* Lists */
.list:not(:last-child) {
    border-bottom: 1px solid var(--beige-300);
    padding-bottom: var(--space-4);
    margin-bottom: var(--space-4);
}

/* Subscribe Form */
.subscribe-form {
    display: flex;
    justify-content: center;
}
