/* Divider */

.divider {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 4%;
    margin-bottom: var(--space-6);
}

.divider picture,
.divider img {
    width: 46%;
}

.divider img {
    animation: swing 3s infinite alternate ease-in-out;
    transform-origin: center;
}

.divider img:nth-child(1) { animation-delay: 0.3s; }
.divider img:nth-child(2) { animation-delay: 0.9s; }
.divider img:nth-child(4) { animation-delay: 0.6s; }
.divider img:nth-child(5) { animation-delay: 0.1s; }

/* 768 */
@media only screen and (width >= 48rem) {
    .divider {
        margin-bottom: var(--space-7);
    }

    .divider picture,
    .divider img {
        width: 21%;
        max-width: 28rem;
    }
}

@keyframes swing {
    0% { transform: rotate(0); }
    100% { transform: rotate(-5deg); }
}
