/* Nav */

.nav {
    margin-bottom: var(--space-5);
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.nav-list a {
    font-family: var(--font-family-2);
    letter-spacing: var(--letter-spacing-headings);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
}

.nav-list a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--gold-200);
}

/* 600 */
@media only screen and (width >= 37.5rem) {
    .nav-list {
        gap: var(--space-4);
    }
}

/* 768 */
@media only screen and (width >= 48rem) {
    .nav {
        margin-bottom: var(--space-7);
    }
}
