/* Section */
.section {
    position: relative;
    text-align: center;
}

.section .container {
    padding-top: var(--space-2xl);
    padding-bottom: var(--space-2xl);
}

.section-divider {
    display: block;
    width: 100%;
    position: relative;
    line-height: 0;
}

.section-divider-top {
    top: 1px;
}

@media screen and (width >= 1400px) {
    .section .container {
        padding-top: var(--space-3xl);
        padding-bottom: var(--space-3xl);
    }
}
