/* Kit Subscribe Form */
.subscribe-form {
    display: flex;
    justify-content: center;
}

.formkit-form[data-uid='8079f9a19d'] * {
    box-sizing: border-box;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-input,
.formkit-form[data-uid='8079f9a19d'] .formkit-select,
.formkit-form[data-uid='8079f9a19d'] .formkit-checkboxes {
    width: 100%;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-field,
.formkit-form[data-uid='8079f9a19d'] .formkit-submit {
    flex: 1 0 100%;
    margin: 0 0 var(--space-s);
}

.formkit-form[data-uid='8079f9a19d'] .formkit-button,
.formkit-form[data-uid='8079f9a19d'] .formkit-submit {
    border: 0;
    border-radius: var(--border-radius-base);
    background: var(--gold-100);
    font-family: var(--font-family-1);
    letter-spacing: var(--letter-spacing-body-text);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: middle;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-button > span,
.formkit-form[data-uid='8079f9a19d'] .formkit-submit > span {
    display: block;
    padding: var(--space-s) var(--space-l);
    transition: var(--transition-button);
}

.formkit-form[data-uid='8079f9a19d'] .formkit-button:hover > span,
.formkit-form[data-uid='8079f9a19d'] .formkit-submit:hover > span,
.formkit-form[data-uid='8079f9a19d'] .formkit-button:focus > span,
.formkit-form[data-uid='8079f9a19d'] .formkit-submit:focus > span {
    background-color: var(--gold-200);
}

.formkit-form[data-uid='8079f9a19d'] .formkit-input {
    background: var(--white);
    padding: var(--space-s);
    border: 0;
    border-radius: var(--border-radius-base);
    flex: 1 0 auto;
    line-height: var(--line-height-base);
    margin: 0 0 var(--space-s);
    transition: box-shadow ease-out 300ms;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-input::placeholder {
    color: var(--gray);
}

.formkit-form[data-uid='8079f9a19d'] .formkit-alert {
    background: #f9fafb;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    flex: 1 0 auto;
    list-style: none;
    margin: var(--space-s) auto;
    padding: var(--space-s);
    text-align: center;
    width: 100%;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-alert:empty {
    display: none;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-alert-success {
    background: #d3fbeb;
    border-color: #10bf7a;
    color: #0c905c;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-alert-error {
    background: #fde8e2;
    border-color: #f2643b;
    color: #ea4110;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-spinner {
    display: flex;
    height: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-spinner > div {
    margin: auto;
    width: 12px;
    height: 12px;
    background-color: var(--white);
    opacity: 0.3;
    border-radius: 100%;
    display: inline-block;
    animation: formkit-bouncedelay-formkit-form-data-uid-8079f9a19d 1.4s infinite ease-in-out both;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-spinner > div:nth-child(1) {
    animation-delay: -0.32s;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-spinner > div:nth-child(2) {
    animation-delay: -0.16s;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-submit[data-active] .formkit-spinner {
    opacity: 1;
    height: 100%;
    width: 50px;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-submit[data-active] .formkit-spinner ~ span {
    opacity: 0;
}

@keyframes formkit-bouncedelay-formkit-form-data-uid-8079f9a19d {
    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

@keyframes formkit-bouncedelay-formkit-form-data-uid-8079f9a19d {
    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

.formkit-form[data-uid='8079f9a19d'] .formkit-modal.guard {
    /* max-width: 420px; */
    width: 100%;
}

.formkit-form[data-uid='8079f9a19d'] {
    /* max-width: 19.75rem; */
    width: 100%;
}

.formkit-form[data-uid='8079f9a19d'] [data-style='full'] {
    width: 100%;
    display: block;
    text-align: left;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-fields {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-fields input,
.formkit-form[data-uid='8079f9a19d'] .formkit-fields select {
    appearance: none;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-field label {
    display: inline-block;
    margin-bottom: 0.25rem;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-fields[data-stacked='false'] .formkit-field,
.formkit-form[data-uid='8079f9a19d'] .formkit-fields[data-stacked='false'] .formkit-submit {
    margin-bottom: var(--space-s);
}

.formkit-form[data-uid='8079f9a19d'] .formkit-fields[data-stacked='false'] .formkit-field {
    flex: 100 1 auto;
    margin-bottom: 0;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-fields[data-stacked='false'] .formkit-field input {
    border-right: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.formkit-form[data-uid='8079f9a19d'] .formkit-fields[data-stacked='false'] .formkit-submit {
    flex: 1 1 auto;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

@media screen and (width >= 600px) {
    .formkit-form[data-uid='8079f9a19d'] {
        max-width: 967px;
        margin-inline: auto;
        margin-top: var(--space-s);
    }

    .formkit-form[data-uid='8079f9a19d'] .formkit-fields {
        flex-wrap: nowrap;
        gap: var(--space-s);
    }

    .formkit-form[data-uid='8079f9a19d'] .formkit-field {
        flex: 1 1 auto;
    }

    .formkit-form[data-uid='8079f9a19d'] .formkit-submit {
        flex: 0 0 auto;
    }

    .formkit-form[data-uid='8079f9a19d'] .formkit-input {
        margin-bottom: 0;
    }
}
