/* Variables */
:root {
    --beige-100: #fdf9ed;
    --beige-200: #f3ecd9;
    --beige-300: #e3dcca;
    --gold-100: #f7c24e;
    --gold-200: #f2ba3e;
    --black: #2e2a2a;
    --white: #fff;
    --red-100: #c2422c;
    --font-family-1: opposit, sans-serif;
    --font-family-2: anton, impact, sans-serif;
    --letter-spacing-body-text: 0.03em;
    --letter-spacing-headings: 0.06em;
    --font-size-xsmall: 1rem; /* 16 */
    --font-size-small: 1.125rem; /* 18 */
    --font-size-base: 1.25rem; /* 20 */
    --font-size-h1: 3.25rem; /* 52 */
    --font-size-h2: 2.25rem; /* 36 */
    --font-size-marquee: 4.5rem; /* 72 */
    --line-height-base: 1.5;
    --space-1: 0.75rem; /* 12 */
    --space-2: 1.5rem; /* 24 */
    --space-3: 2.25rem; /* 36 */
    --space-4: 2.75rem; /* 44 */
    --space-5: 4rem; /* 64 */
    --space-6: 6.25rem; /* 100 */
    --space-7: 9rem; /* 144 */
    --container-width-1: 46.125rem; /* 738 */
    --marquee-gap: 0.2rem;
    --transition-1: all 0.3s ease;
}
